.header img{
    height: 80px;
}

.header{
    text-align: center;
}

.header nav{
    background-color: black;
    
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 130px;
}
nav a:hover{
    background-color: gray;
}